* {
  box-sizing: border-box !important; }

ul {
  list-style: none; }
  ul a:link, ul a:visited {
    color: #A0A0A0;
    background-color: transparent;
    text-decoration: none; }
  ul a:hover, ul a:active {
    color: white;
    background-color: transparent;
    text-decoration: none; }
  ul li a button:link, ul li a button:visited {
    background-color: #FFECEC; }
  ul li a button:hover, ul li a button:active {
    background-color: #D9282F; }

div.card:hover {
  background-color: #ebcbcb;
  -ms-transform: scale(1.06);
  /* IE 9 */
  -webkit-transform: scale(1.06);
  /* Safari 3-8 */
  transform: scale(1.06); }

div.card.card-2:hover {
  background-color: white;
  -ms-transform: scale(1);
  /* IE 9 */
  -webkit-transform: scale(1);
  /* Safari 3-8 */
  transform: scale(1); }

div.card-1:hover, div.card-1:active {
  -ms-transform: scale(1.06);
  /* IE 9 */
  -webkit-transform: scale(1.06);
  /* Safari 3-8 */
  transform: scale(1.06); }
  div.card-1:hover div.building-info-detail, div.card-1:active div.building-info-detail {
    height: 100%; }
  div.card-1:hover img.building-info-image, div.card-1:active img.building-info-image {
    opacity: 0.2; }

.font, .font--header-top, .font--header-bottom, .font--nav, span.description, p.description-header, p.description-content {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }
  .font--header-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: white; }
  .font--header-bottom {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: black; }
  .font--nav {
    font-size: 18px;
    line-height: 25px; }

.btn-custom, .btn-custom--red, .btn-custom--red-outline, .btn-custom--red-light, .btn-custom--red-light-1 {
  padding: 16px 40px;
  border-radius: 60px;
  border: none;
  color: #545454;
  text-transform: uppercase;
  background-color: #fff; }
  .btn-custom--red {
    background-color: #D9282F;
    color: white; }
  .btn-custom--red-outline {
    background-color: unset;
    border: 1px solid #D9282F;
    color: #D9282F; }
  .btn-custom--red-light {
    background-color: #FFECEC;
    color: #D9282F; }
  .btn-custom--red-light-1 {
    text-transform: none;
    background-color: #FFECEC;
    color: #140000; }

.header--top {
  background-color: #340001; }
.header--bottom {
  background-color: #ffffff; }

nav {
  background-color: #821618; }

.banner-top {
  background-image: url("storage/upload/img/body/Banner_1.png");
  background-size: cover;
  padding: 10% 15% 10% 15%; }
  .banner-top-input-button {
    position: relative;
    max-width: 970px;
    width: 100%; }
  .banner-top-input {
    width: 100%;
    height: 65px;
    border-radius: 30px;
    border: none; }
  .banner-top-search {
    position: absolute;
    top: 4px;
    right: 10px; }

.commit-frame {
  box-shadow: 0.919953px 28.4889px 80.9037px rgba(0, 0, 0, 0.0425185), 0.477668px 14.7923px 41.275px rgba(0, 0, 0, 0.035), 0.194605px 6.02649px 20.6963px rgba(0, 0, 0, 0.0274815), 0.0442285px 1.36966px 9.99537px rgba(0, 0, 0, 0.0168519);
  border-radius: 10px; }

div.intro {
  margin-top: 150px;
  background: linear-gradient(90deg, #ca8b8d 25.51%, rgba(217, 40, 47, 0) 81.59%); }

div.intro-picture {
  height: 320px; }
  div.intro-picture img.intro-picture-first {
    position: relative;
    top: -80px;
    border-radius: 11.0457px;
    width: 80%; }
  div.intro-picture img.intro-picture-second {
    position: relative;
    left: -191px;
    top: 90px;
    border-radius: 7.47208px;
    width: 50%;
    margin-bottom: 10px; }

span.description {
  color: #821618;
  font-size: 32px;
  line-height: 44px; }

span.underline {
  border-bottom: 2px solid #821618; }

p.description-header {
  font-size: 16px;
  line-height: 22px;
  color: #140000;
  margin-top: 10px; }

p.description-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #545454; }

div.featured-real-estate {
  margin-top: 10%;
  background-color: #F9F9F9; }

div.breakingnew {
  margin-top: 10%; }

div.card {
  padding: 0;
  transition: transform 0.2s; }

div.card-1 {
  transition: transform 0.2s;
  position: relative; }

div.card-2 {
  background: #F9F9F9;
  text-align: start;
  align-items: center; }

div.card.card-2 {
  transition: none; }

a.nav-link {
  padding-left: 0; }

div.card-info {
  display: flex;
  justify-content: space-between; }

div.card-frame {
  margin-top: 20px; }

div.promotion {
  width: 100%;
  margin-top: 20px;
  background-image: url("storage/upload/img/body/Promotion_bg.png"); }
  div.promotion p {
    font-size: 20px; }

div.building-info-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  text-align: center;
  padding: 20px 20px 0 20px; }

div.partner {
  margin-top: 4%;
  background-image: url("storage/upload/img/body/partner/bg.png");
  background-size: cover; }

img.partner-image {
  margin-top: 6%; }

div.footer-top {
  background-image: url("storage/upload/img/footer/bg.png"); }

div.footer-content {
  color: white; }
  div.footer-content h4 {
    margin-bottom: 10px; }
  div.footer-content ul {
    padding-left: 0; }
    div.footer-content ul li {
      margin-bottom: 4px; }
      div.footer-content ul li a {
        color: white; }
        div.footer-content ul li a:hover {
          color: #ca2424; }

@media screen and (max-width: 992px) {
  div.header--bottom {
    display: none; }

  div.intro-picture {
    height: auto; }

  div.building-info-detail {
    padding: 0;
    font-size: 8px; }
    div.building-info-detail h4 {
      font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
