$font-size-main: 16px;
$font-family-main: 'Open Sans';
$font-style-main: normal;
$font-weight-main: 600;
$font-height-main: 22px;

$bgcolor: white;

$main-color : #D9282F;
$main-dark-color : #821618;
$sub-color : #FFECEC;

$back-color : #140000;
$grey-color : #545454;

*{
    box-sizing: border-box !important;
}

ul{
    list-style: none;
    a:link, a:visited {
        color: #A0A0A0;
        background-color: transparent;
        text-decoration: none;
      }
    a:hover, a:active {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
    }

    li a{
        button:link, button:visited{
            background-color: $sub-color;
        }
        button:hover, button:active{
            background-color: $main-color;
        }
        button:focus{
            background-color: $main-color;
        }
    }    
 } 

div.card:hover{
    background-color: rgb(235, 203, 203);
    -ms-transform: scale(1.06); /* IE 9 */
    -webkit-transform: scale(1.06); /* Safari 3-8 */
    transform: scale(1.06);  
}

div.card.card-2:hover{
    background-color: rgb(255, 255, 255);
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1);  
}

div.card-1:hover, div.card-1:active{ 
    -ms-transform: scale(1.06); /* IE 9 */
    -webkit-transform: scale(1.06); /* Safari 3-8 */
    transform: scale(1.06); 
    div.building-info-detail{
        // display: block;  
        height: 100%;      
    }      

    img.building-info-image{
        opacity: 0.2;
    }  
}


.font{
    font-family: $font-family-main;
    font-style: $font-style-main;
    font-weight: $font-weight-main;
    font-size: $font-size-main;
    line-height: $font-height-main;

    &--header-top{
        @extend .font;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;

        color: white;
    }

    &--header-bottom{
        @extend .font;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;

        color: black;
    }

    &--nav{  
        @extend .font;      
        font-size: 18px;
        line-height: 25px;
    }
}

.btn-custom{
    padding: 16px 40px;
    border-radius: 60px;
    border: none;
    color: $grey-color;
    text-transform: uppercase;
    background-color: #fff;

    &--red{
        @extend .btn-custom;
        background-color: $main-color;
        color: white;
    }    

    &--red-outline{
        @extend .btn-custom;
        background-color: unset;
        border: 1px solid $main-color;
        color: $main-color;
    }

    &--red-light{
        @extend .btn-custom;
        background-color: $sub-color;
        color: $main-color;
    }
    &--red-light-1{
        @extend .btn-custom;
        text-transform: none;
        background-color: $sub-color;
        color: $back-color;
    }
}


.header{        
    &--top{
        $bgcolor: #340001;
        background-color: $bgcolor;
    }
    &--bottom{
        $bgcolor: #ffffff;
        background-color: $bgcolor;
    }
}

nav{
    background-color: $main-dark-color;
}



.banner-top{
    background-image: url('/storage/upload/img/body/Banner_1.png');   
    background-size: cover;
    padding: 10% 15% 10% 15%;
    
    &-input-button{
        position: relative;
        max-width: 970px;
        width: 100%;
    } 
    &-input{
        width: 100%;
        height: 65px;
        border-radius: 30px;   
        border: none; 
        
        padding-left: 40px;
    }
    &-search{
        position: absolute;
        top: 4px;
        right: 10px;
    }
}

.commit-frame{
    box-shadow: 0.919953px 28.4889px 80.9037px rgba(0, 0, 0, 0.0425185), 0.477668px 14.7923px 41.275px rgba(0, 0, 0, 0.035), 0.194605px 6.02649px 20.6963px rgba(0, 0, 0, 0.0274815), 0.0442285px 1.36966px 9.99537px rgba(0, 0, 0, 0.0168519);
    border-radius: 10px;
}

div.intro{
    margin-top: 150px;
    background: linear-gradient(90deg, #ca8b8d 25.51%, rgba(217, 40, 47, 0) 81.59%);
 }


div.intro-picture{
    height: 320px;
    img.intro-picture{  
        &-first{
            position: relative; 
            top: -80px;   

            border-radius: 11.0457px;

            width: 80%;
        }
    
        &-second{
            position: relative;  
            left: -191px;        
            top: 90px;    

            border-radius: 7.47208px;

            width: 50%;

            margin-bottom: 10px;
            }
        }
}

span.description{
    @extend .font;
    color: #821618;
    font-size: 32px;
    line-height: 44px;
    
}

span.underline{
    border-bottom: 2px solid #821618;    
}

p.description-header{
    @extend .font;
    font-size: 16px;
    line-height: 22px;
    color: #140000;
    margin-top: 10px;
}
p.description-content{
    @extend .font;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #545454;
}

div.featured-real-estate{
    margin-top: 10%;
    background-color: #F9F9F9;
}
div.breakingnew{
    margin-top: 10%;
}

div.card{
    padding: 0;
    transition: transform 0.2s;
}
div.card-1{
    transition: transform 0.2s;
    position: relative;
}

div.card-2{
    background: #F9F9F9;
    text-align: start;
    align-items: center;
}

div.card.card-2{
    transition: none;
}

a.nav-link{
    padding-left: 0;
}

div.card-info{
    display: flex;
    justify-content: space-between;
}

div.card-frame{
    margin-top: 20px;
}


div.promotion{
    width: 100%;
    margin-top: 20px;
    background-image: url("/storage/upload/img/body/Promotion_bg.png");
    
    // & img{
    //     opacity: 0.1;
    // }
    & p{
        font-size: 20px;
    }
    
}

div.building-info-detail{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        height: 0;
        transition: .5s ease;
        text-align: center;

        padding: 20px 20px 0 20px;
    }


div.partner{
    margin-top: 4%;
    background-image: url('/storage/upload/img/body/partner/bg.png');
    background-size: cover;
}

img.partner-image{
    margin-top: 6%; 
}

div.footer-top{
    background-image: url('/storage/upload/img/footer/bg.png');
}

div.footer-content{
    color: white;
    h4{
        margin-bottom: 10px;
    }
    ul{
        padding-left: 0; 
        li{            
            margin-bottom: 4px;
            a{
                color: white;
            &:hover{
                color: rgb(202, 36, 36);
            }
            }
        }
    }

}

div.owl-nav{
    display: none;
}

.owl-theme .owl-dots .owl-dot span{
    width: 40px !important;
    background: #545454 !important;
    transition: width 0.5s !important;
}

.owl-theme .owl-dots .owl-dot span{    
    &:hover{
        width: 70px !important;
        background: #D9282F !important;        
    }
    // &:active{
    //     width: 70px !important;
    //     background: #D9282F !important;        
    // }
    // &:focus{
    //     width: 70px !important;
    //     background: #D9282F !important;        
    // }
}

@media screen and (max-width: 992px) {

    nav.nav-menu{
        display: none;
    }
    div.header--top{
        display: none;
    }
    div.header--bottom{
        display: none;
    }

    div.intro-picture{
        height: auto;        
    }
    
    div.building-info-detail{
        padding: 0;
        font-size: 8px;
        & h4{
            font-size: 12px;
        }        
    }

    .btn-custom{
        padding: 5px 20px;
    }
    .banner-top-input{
        padding-left: 10px;
        height: 43px;
        font-size: 10px;
    }
}

@media screen and (min-width: 993px) {
    nav.navbar{
        display: none;
    }
    
}